@import url("https://use.typekit.net/qes6mbe.css");

body {
	margin: 0;
	padding: 0;
	font-family: "Urbana", Arial, Helvetica, sans-serif;
}

.topnav-desktop {
	display: none;
}

.houses {
	display: none;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

/* Styling homepage */

.intro-home {
	position: relative;
}

.intro-home h1 {
	color: #46495a;
}

.text-intro-home {
	text-align: center;
	padding: 10px 0;
}

.button-intro-home {
	text-decoration: none;
	color: #fff;
	background-color: #ff4040;
	padding: 12px;
	border-radius: 10px;
}

.flex {
	display: flex;
	align-items: center;
}

.flex div {
	flex: 1;
}

.flex img {
	width: 100%;
}

.move-left {
	margin-right: -15%;
}

.move-right {
	margin-left: -15%;
	margin-right: -15%;
	margin-bottom: -3%;
}

.sub-text-home {
	position: relative;
	padding-top: 30px;
}

/* Marks */

.mark1-intro-home {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: -10;
}

.mark2-intro-home {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 105px;
	left: 30px;
	z-index: -10;
}

.mark3-intro-home {
	width: 17px;
	height: 20px;
	position: absolute;
	top: 25px;
	left: -15px;
	z-index: -10;
}

.mark4-intro-home {
	width: 17px;
	height: 20px;
	position: absolute;
	bottom: 205px;
	right: 10px;
	z-index: -10;
}

/* Footer styling */

footer {
	background-color: #c8cdd1;
}

.navigation-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 25px;
	padding-top: 10px;
}

.navigation-footer a {
	text-decoration: none;
	color: #46495a;
}

.comcom-image-footer {
	height: 40px;
}

.caritas-image-footer {
	height: 40px;
}

.sponsors-footer {
	display: flex;
}

/* Navigation */

/* Style the navigation menu */
.topnav {
	overflow: hidden;
	position: relative;
	justify-content: flex-end;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
	display: none;
	margin-top: 50px;
}

/* Style navigation menu links */
.topnav a {
	color: rgb(0, 0, 0);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

/* Style the active link (or home/logo) */
.active {
	color: #fff !important;
	padding: 12px;
	margin: 5px 15px 0 0;
	background-color: #ff4040;
	border-radius: 10px;
	float: right;
}

.logo {
	position: absolute;
	width: 40px;
	top: 10px;
	padding: 0px;
	left: calc(50% - 20px);
}

@media (min-width: 768px) {
	.wrapper {
		width: 75%;
		height: 100vh;
	}

	.topnav {
		display: none;
	}

	.topnav-desktop {
		display: block;
	}

	.mark1-intro-home,
	.mark2-intro-home,
	.mark3-intro-home,
	.mark4-intro-home,
	.move-left,
	.move-right,
	.navigation-footer {
		display: none;
	}

	footer {
		display: flex;
		justify-content: center;
		height: 50px;
		align-items: center;
	}

	.navgation-footer-desktop a {
		text-decoration: none;
		color: #46495a;
		padding: 0 50px;
	}

	.houses {
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -20px;
	}
}
